

{% extends 'base.html.twig' %}


{% block title %}Edit Episode{% endblock %}
{% block body %}
    <h1>Manga index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Picture</th>
                <th>Synopsis</th>
                <th>Volume_number</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manga in mangas %}
            <tr>
                <td>{{ manga.id }}</td>
                <td>{{ manga.title }}</td>
                <td>{{ manga.author }}</td>
                <td>{{ manga.picture }}</td>
                <td>{{ manga.synopsis }}</td>
                <td>{{ manga.volumeNumber }}</td>
                <td>{{ manga.createdAt ? manga.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ manga.updatedAt ? manga.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>

                    <a href="{{ path('manga-show', {'id': manga.id}) }}">show</a>
                    <a href="{{ path('manga-update', {'id': manga.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('manga-add') }}">Create new</a>

{% endblock %}
