
{% extends 'base.html.twig' %}


{% block title %}Edit Episode{% endblock %}

{% block body %}
    <h1>Manga</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ manga.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ manga.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ manga.author }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ manga.picture }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ manga.synopsis }}</td>
            </tr>
            <tr>
                <th>Volume_number</th>
                <td>{{ manga.volumeNumber }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ manga.createdAt ? manga.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ manga.updatedAt ? manga.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('manga_index') }}">back to list</a>

    <a href="{{ path('manga_update', {'id': manga.id}) }}">edit</a>

    {{ include('manga/_delete_form.html.twig') }}
{% endblock %}
